
.notConnected{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
  }

.listBg{
    background-color: #D3D3D3;
    border-radius: 25px;
    padding: 5px;
}
  .grid {
      padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: column;
    height: 94vh;
  }

  .transparent{
    background-color: transparent;
    color: black;
}

.dark{
    background-color: #121212;
    color: white;
}

.ListItemText{
    display: flex;
    width: 100%;
}
.columnList{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
    gap:15px
}

.listItem{
    text-align : "center";
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.button{
    color :#d32f2f;
    cursor: pointer;
}

.item{
    text-align: center;
}