.AppBar{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.toolTip{ 
    display: flex;
    flex-direction: row-reverse;
}

.title{
color: black;
}

.transparent{
    background-color: transparent;
    color: black;
}

.dark{
    background-color: #121212;
    color: white;
}

.Chiptransparent{ 
    background-color:  rgba(0, 0, 0, 0.08);
    color: black;
}

.Chipdark{ 
    background-color:  rgba(163, 144, 144, 0.08);
    color: white;
}